/* TourForm.css */

form {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgb(253, 253, 253);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
input[type="file"],
select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1rem;
}

