/* src/styles/Home.css */

.hero-section {
    position: relative;
    text-align: center;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-content {
    z-index: 1;
    max-width: 80%;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.btn.btn-primary {
    padding: 0.8rem 1.5rem;
    background-color: #0077ff;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
}